@import '../../variables';

.link-tiles {
	display: flex;
	flex-direction: row;

	a {
		background-color: $dark-gray;
		width: 200px;
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-right: 16px;
		border-radius: 3px;
		transition: $transition;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: $dark-gray-hover;
		}

		mat-icon {
			width: 96px;
			height: 96px;
			font-size: 96px;
		}

		span {
			font-size: 32px;
			font-weight: 100;
		}
	}
}