<div class="dialog">
	<h1 mat-dialog-title>Add Service Package:</h1>
	<form class="add-user-form" [formGroup]="servicePackageForm">
		<mat-form-field hideRequiredMarker>
			<input matInput placeholder="Name"
				   [formControlName]="'name'"
				   autocomplete="off"
				   required>
			<mat-error *ngIf="servicePackageForm.controls['name'].hasError('required')">
				Name is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field hideRequiredMarker>
			<input matInput placeholder="Cost"
				   [formControlName]="'cost'"
				   autocomplete="off"
				   required>
			<span matPrefix>$&nbsp;</span>
			<mat-error *ngIf="servicePackageForm.controls['cost'].hasError('required')">
				This field is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="servicePackageForm.controls['cost'].hasError('required')==false &&
								servicePackageForm.controls['cost'].hasError('pattern')">
				Value must be a <strong>number</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field hideRequiredMarker>
			<input matInput placeholder="Duration"
				   [formControlName]="'duration'"
				   autocomplete="off"
				   required>
			<span matSuffix>month<span *ngIf="servicePackageForm.controls['duration'].value > 1"></span></span>
			<mat-error *ngIf="servicePackageForm.controls['duration'].hasError('required')">
				This field is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="servicePackageForm.controls['duration'].hasError('required')==false &&
								servicePackageForm.controls['duration'].hasError('pattern')">
				Value must be a <strong>number</strong>
			</mat-error>
		</mat-form-field>
		<div class="checkbox-line">
			<mat-checkbox [formControlName]="'classesIncluded'">Classes included</mat-checkbox>
		</div>
	</form>
	<div class="button-row">
		<button type="submit" class="mat-elevation-z4" mat-button (click)="onSubmit()">Done</button>
		<button class="mat-elevation-z4" mat-button (click)="onCancel()">Cancel</button>
	</div>
</div>