@import "../variables";

.page {
	background-color: $dark-gray-background;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;

	.nav-bar {
		background-color: $medium-dark-gray;
		height: 80px;
		width: 100%;
		padding-left: 36px;

		.logo {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 100%;

			mat-icon {
				width: 64px;
				height: 64px;
				font-size: 64px;
			}

			.logo__text {
				padding-left: 8px;
				font-size: 36px;
				font-weight: 100;
			}
		}
	}

	.page__content {
		padding-top: 16px;
		width: 70%;
	}
}