<div class="info">
	<tile id="table-tile">
		<tile-content>
			<div class="table">
				<div class="table-header">
					<div>Name</div>
					<div>Surname</div>
					<div>ID #</div>
					<div>Occupation</div>
					<div>Salary</div>
					<div class="icon">
						<button mat-icon-button [matMenuTriggerFor]="appMenu">
							<mat-icon>more_vert</mat-icon>
						</button>
					</div>
				</div>
				<mat-divider></mat-divider>
				<div></div>
				<div class="row" *ngFor="let employee of EMPLOYEES; let last = last; let i = index">
					<div class="table-row">
						<div>{{employee.firstName}}</div>
						<div>{{employee.surname}}</div>
						<div>{{employee.id}}</div>
						<div>{{employee.occupation.name}}</div>
						<div>$ {{employee.occupation.salary}}</div>
						<div class="icon">
							<button mat-icon-button *ngIf="currentMode == Mode.EDIT" (click)="editEmployee(i)">
								<mat-icon>edit</mat-icon>
							</button>
							<button mat-icon-button *ngIf="currentMode == Mode.DELETE" (click)="deleteEmployee(i)">
								<mat-icon>close</mat-icon>
							</button>
						</div>
					</div>
					<mat-divider *ngIf="last == false"></mat-divider>
				</div>

			</div>
		</tile-content>
	</tile>
	<div class="done-button-row" *ngIf="currentMode == Mode.DELETE || currentMode == Mode.EDIT">
		<button class="done-button mat-elevation-z4" mat-button (click)="editsDone()">Done</button>
	</div>
</div>

<mat-menu #appMenu="matMenu">
	<button mat-menu-item (click)="addEmployee()">Add</button>
	<button mat-menu-item (click)="editModeOn()">Edit</button>
	<button mat-menu-item (click)="deleteModeOn()">Delete</button>
</mat-menu>

<!--<div *ngFor="let occ of OCCUPATIONS">-->
	<!--Name: {{occ.name}}-->
	<!--Since: {{occ.since | date: 'shortDate'}}-->
	<!--To: {{occ.to | date: 'shortDate'}}-->
	<!--Salary: {{occ.salary}}-->
	<!--Hours:{{occ.hours}}-->
	<!--<mat-divider></mat-divider>-->
<!--</div>-->