@import "~@angular/material/theming";

@include mat-core();

$white: #eeeeee;
$light-gray-font: #d7d7d7;
$medium-gray-font: #afafaf;
$white-font-hover: #c7c7c7;
$red: #d32f2f;
$orange: #f57c00;
$teal: #4db6ac;

$red-accent: #ff1744;
$green-accent: #64dd17;

$gray: #9b9b9b;
$dark-gray: #3F3F3F;
$dark-gray-background: #4f4f4f;
$dark-gray-hover: #565656;
$medium-dark-gray: #313131;
$very-dark-gray: #232323;
$border-color: #646464;

$transition: all 100ms ease-in-out;

$font-primary: 'Roboto Condensed', sans-serif;
$font-secondary: 'Lato', sans-serif;

$md-breakpoint: 1500px;
$mobile-breakpoint: 690px;
$tablet-breakpoint: 995px;
$desktop-breakpoint: 1365px;
