.checkbox-line {
	padding-top: 8px;
  height: 50px;
  display: flex;
  align-items: center;
}

.dialog-title {
  margin-bottom: 5px;
}

.dialog {
	width: 216px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	margin-top: -8;
	margin-bottom: -8;
}
.mat-dialog-container {
	padding-top: 10px;
}
div.mat-dialog-actions {
	margin-bottom: -8px;
}

h1{
	margin-top: -4px;
}